body {
  background-color: #36454F;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.title {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
}

.main-container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
  flex-wrap: wrap;
}

.filters {
  margin-left: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.table-container {
  flex: 1;
  margin: 0 20px;
}

.table-container {
  flex: 1;
  margin: 0 20px;
  color: white;
}

.dropdown-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  padding-top: 10px;
}

.filter-input, .dropdown {
  margin-left: 10px;
  padding: 8px;
  background-color: #444;
  border: 2px solid #222;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #444;
  color: white;
}

th, td {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #222;
  font-weight: bold;
}

td {
  background-color: #555;
  border-radius: 10px;
}

td span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #666;
  color: white;
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .filters, .dropdown-container {
    margin-left: 10px;
    width: 100%;
    max-width: 300px;
    color: white;
  }

  .table-container {
    max-width: 100%;
    margin: 0;
  }
}
